@tailwind base;
@tailwind components;
@tailwind utilities;

/* ユーティリティをまとめたコンポーネントスタイル作成 */
@layer components {
  .btn-blue {
    @apply rounded bg-blue-500 px-4 py-2 font-bold text-white;
  }
}

/* 独自のユーティリティ追加 */
@layer utilities {
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #fff);
    background-size: 0% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .link-underline-white {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  }

  .link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #fff);
  }

  .balloon-left::before {
    content: '';
    border-width: 12px 16px 12px 0;
    border-color: transparent theme('colors.yellow.400') transparent transparent;
    transform: translate(-20px, -50%) rotate(-15deg);
    @apply absolute top-1/2 left-0 w-0 h-0 border-solid;
  }

  .balloon-right::before {
    content: '';
    border-width: 12px 16px 12px 0;
    border-color: transparent theme('colors.yellow.400') transparent transparent;
    transform: translate(20px, -50%) rotate(195deg);
    @apply absolute top-1/2 right-0 w-0 h-0 border-solid;
  }

  /* notions */
  .notion_link {
    @apply text-blue-400 underline;
  }
  .notion_paragraph {
    @apply text-sm md:text-base;
  }
  .notion_heading_1 {
    @apply text-xl md:text-3xl;
  }
  .notion_heading_2 {
    @apply text-lg md:text-2xl;
  }
  .notion_heading_3 {
    @apply text-base md:text-xl;
  }
}
